{% extends "base.html" %}

{% block title %}Controllo di sistemi di gestione{% endblock %}

{% block content %}
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <div class="mobile-search waves-effect waves-light">
                            <div class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-prepend search-close"><i class="ti-close input-group-text"></i></span>
                                        <input type="text" class="form-control" placeholder="Enter Keyword">
                                        <span class="input-group-append search-btn"><i class="ti-search input-group-text"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <a class="mobile-options waves-effect waves-light">
                            <i class="ti-more"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>
                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-80 img-radius" src="../{{ url_for('static', filename='assets/images/avatar-4.jpg') }}" alt="User-Profile-Image">
                                    
                                </div>
                                <div class="main-menu-content">
                                    <ul>
                                        <li class="more-details">
                                            <a href="user-profile.html"><i class="ti-user"></i>View Profile</a>
                                            <a href="#!"><i class="ti-settings"></i>Settings</a>
                                            <a href="auth-normal-sign-in.html"><i class="ti-layout-sidebar-left"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="pcoded-navigation-label">Menu</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="">
                                    <a href="/" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext">Dashboard</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="/Centro_ricavo" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext">Analisi Centro di Ricavo</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="pcoded-navigation-label">Centro di Ricavo</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="active pcoded-hasmenu pcoded-trigger">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>BC</b></span>
                                        <span class="pcoded-mtext">Analisi</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class="active">
                                            <a href="/articolo" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Articolo</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="/budget_produzione" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Budget</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="/mixStandard_produzione" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Mix standard</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/mixEffettivo_produzione" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Mix effettivo</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="/consuntivo_produzione" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Consuntivo</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Articolo</h5>
                                            <p class="m-b-0">Ricerca dei valori per Codice articolo</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="/"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="..//">Dashboard</a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="..//Centro_ricavo">Analisi</a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#!">Articolo</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <div class="row">
                                            <!-- SITE VISIT CHART start -->
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Ricerca per articolo</h5>
                                                        <span>Inserisci un codice articolo</span>
                                                    </div>
                                                    <form action="/articolo" method="post">
                                                        <input type="text" class="col-md-4 form-control" name="articolo" placeholder="Codice articolo" value="ART">  <br />
                                                        <input type="submit" class="btn waves-effect waves-light btn-primary btn-outline-primary" name= "form" value="Cerca" />
                                                    </form>
                                                </div>
                                            </div>
                                            
                                            {% if art != undefined %}
                                                <div class="col-md-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            {{ art.getCodice() }}
                                                        </div>

                                                        <table class="table">
                                                            <thead class="thead-default">
                                                            <tr>
                                                                <th></th>
                                                                <th>Budget</th>
                                                                <th>Standard</th>
                                                                <th>Effettivo</th>
                                                                <th>Consuntivo</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Prezzo unitario</td>
                                                                    <td>{{ art.getPrezzo("BUDGET") }} €</td>
                                                                    <td>{{ art.getPrezzo("STANDARD") }} €</td>
                                                                    <td>{{ art.getPrezzo("EFFETTIVO") }} €</td>
                                                                    <td>{{ art.getPrezzo("CONSUNTIVO") }} €</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Mix</td>
                                                                    <td>{{ art.getMix("STANDARD") }}</td>
                                                                    <td>{{ art.getMix("STANDARD") }}</td>
                                                                    <td>{{ art.getMix("EFFETTIVO") }}</td>
                                                                    <td>{{ art.getMix("EFFETTIVO") }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Costo produzione</td>
                                                                    {% if art.getQuantitaProdotta("BUDGET") != 0 %}
                                                                        <td>{{ (art.getCostoProduzione("BUDGET")/ art.getQuantitaProdotta("BUDGET"))|round(3) }} €</td>
                                                                    {% else %}
                                                                        <td>0 €</td>
                                                                    {% endif %}
                                                                    {% if art.getQuantitaProdotta("STANDARD") != 0 %}
                                                                        <td>{{ (art.getCostoProduzione("STANDARD")/ art.getQuantitaProdotta("STANDARD"))|round(3) }} €</td>
                                                                    {% else %}
                                                                        <td>0 €</td>
                                                                    {% endif %}
                                                                    {% if art.getQuantitaProdotta("EFFETTIVO") != 0 %}
                                                                        <td>{{ (art.getCostoProduzione("EFFETTIVO")/ art.getQuantitaProdotta("EFFETTIVO"))|round(3) }} €</td>
                                                                    {% else %}
                                                                        <td>0 €</td>
                                                                    {% endif %}
                                                                    {% if art.getQuantitaProdotta("CONSUNTIVO") != 0 %}
                                                                        <td>{{ (art.getCostoProduzione("CONSUNTIVO")/ art.getQuantitaProdotta("CONSUNTIVO"))|round(3) }} €</td>
                                                                    {% else %}
                                                                        <td>0 €</td>
                                                                    {% endif %}
                                                                </tr>
                                                                <tr>
                                                                    <td>Costo materie prime</td>
                                                                    {% if art.getQuantitaProdotta("BUDGET") != 0 %}
                                                                        <td>{{ (art.getCostoMP("BUDGET")/ art.getQuantitaProdotta("BUDGET"))|round(3) }} €</td>
                                                                    {% else %}
                                                                        <td>0 €</td>
                                                                    {% endif %}
                                                                    {% if art.getQuantitaProdotta("STANDARD") != 0 %}
                                                                        <td>{{ (art.getCostoMP("STANDARD")/ art.getQuantitaProdotta("STANDARD"))|round(3) }} €</td>
                                                                    {% else %}
                                                                        <td>0 €</td>
                                                                    {% endif %}
                                                                    {% if art.getQuantitaProdotta("EFFETTIVO") != 0 %}
                                                                        <td>{{ (art.getCostoMP("EFFETTIVO")/ art.getQuantitaProdotta("EFFETTIVO"))|round(3) }} €</td>
                                                                    {% else %}
                                                                        <td>0 €</td>
                                                                    {% endif %}
                                                                    {% if art.getQuantitaProdotta("CONSUNTIVO") != 0 %}
                                                                        <td>{{ (art.getCostoMP("CONSUNTIVO")/ art.getQuantitaProdotta("CONSUNTIVO"))|round(3) }} €</td>
                                                                    {% else %}
                                                                        <td>0 €</td>
                                                                    {% endif %}
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

