<!DOCTYPE html>
<html>
  <head>
        <!-- define blocks that will be used in child templates -->
        <title>{% block title %}{% endblock %}</title>
      
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta name="keywords" content="bootstrap, bootstrap admin template, admin theme, admin dashboard, dashboard template, admin template, responsive" />
        <meta name="author" content="Codedthemes" />
        <!-- Favicon icon -->
        <link rel="icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}" type="image/x-icon">
        <!-- waves.css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/pages/waves/css/waves.min.css') }}" type="text/css" media="all">
        <!-- Required Fremwork -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap/css/bootstrap.min.css') }}">
        <!-- waves.css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/pages/waves/css/waves.min.css') }}" type="text/css" media="all">
        <!-- themify icon -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/icon/themify-icons/themify-icons.css') }}">
        <!-- font-awesome-n -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome-n.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
        <!-- scrollbar.css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/jquery.mCustomScrollbar.css') }}">
        <!-- Style.css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">
        {% block delete_script %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}

    <!-- Required Jquery -->
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-ui/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/popper.js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- waves js -->
    <script src="{{ url_for('static', filename='assets/pages/waves/js/waves.min.js') }}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-slimscroll/jquery.slimscroll.js') }}"></script>

    <!-- slimscroll js -->
    <script src="{{ url_for('static', filename='assets/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>

    <!-- menu js -->
    <script src="{{ url_for('static', filename='assets/js/pcoded.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/vertical/vertical-layout.min.js') }}"></script>

    <!-- Morris Chart js -->
    <script src="{{ url_for('static', filename='assets/js/raphael/raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/morris.js/morris.js') }}"></script>
    <!-- Custom js -->
    <script src="{{ url_for('static', filename='assets/pages/chart/morris/morris-custom-chart.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/script.js') }}"></script>

  </body>
</html>